<div ng-controller="PlayersController" ng-init="find()">
  <input type="text" ng-model="search.name" placeholder="Player name">
  <positions></positions>
  <nflteams></nflteams>
  <searchlimit></searchlimit>
  <table>
    <tr ng-repeat="player in players | filter:search | filter:strictsearch:true | limitTo:limitct">
      <td>{{ player.name }}<span ng-show="player.num"> - #{{ player.num }}</span></td>
      <td>{{ positions[player.pos].abbr }}</td>
      <td>{{ nflteams[player.team].abbr }}</td>
    </tr>
  </table>
</div>